{{define "head"}}
{{end}}
{{define "content"}}
<div class="min-h-screen flex justify-center px-32 py-32 bg-neutral-100 dark:bg-neutral-700">
    <div
        class="block rounded-lg bg-white shadow-lg dark:shadow-md shadow-purple-600 dark:shadow-yellow-400 dark:bg-neutral-600 text-center w-96 h-64">
        <div class="p-6">
            <h5 class="mb-2 text-4xl font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                Verified!
            </h5>
            <p class="mb-2 text-base text-neutral-500 dark:text-neutral-300">
                You're all set up. Hope to see you soon!
            </p>
        </div>
    </div>
</div>
{{end}}