{{define "head"}}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/card.css">
{{end}}
{{define "content"}}
<div class="front-page">
    <h1 class="main-title">Tails Of Old</h1>
    <p>
        Welcome to the tails of old!
        Computers are fun and I wanna write about them :)
    </p>
    <h2>
        Latest Articles:
    </h2>
    <div class="latest-articles">
        {{range .LatestArticles}}
        <a class="article" href="{{.ArticlePath}}">
            <img class="article-img" src="{{.ImagePath}}">
            <div class="article-text">
                <h3>{{.Title}}</h3>
                <div class="section">
                    <img class="section-img" src="/static/img/{{.Section}}.png">
                    <p class="section-text">{{.Section}}</p>
                </div>
                <small>
                    Published <u>{{.Created}}</u> by {{.Author}}
                </small>
                <div class="description">
                    {{.Description}}
                </div>
            </div>
        </a>
        {{end}}
    </div>
</div>
{{end}}