{{define "head"}}
{{end}}
{{define "content"}}
<div class="min-h-screen flex justify-center px-32 py-32 bg-neutral-100 dark:bg-neutral-700">
    <div
        class="block rounded-lg bg-white shadow-2xl shadow-red-400 dark:shadow-red-600 dark:bg-neutral-600 text-center w-96 h-64">
        <div class="p-6">
            <h5 class="mb-2 text-4xl font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                404
            </h5>
            <p class="mb-2 text-base text-neutral-500 dark:text-neutral-300">
                We had a look around, but we couldn't find that page :/<br>You wanna go back to the start?
            </p>
            <a href="/"
                class="mt-3 inline-block rounded bg-blue-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-blue-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                Yes please
            </a>
        </div>
    </div>
</div>
<!-- Card -->
{{end}}