{{define "js"}}
<script src="/static/js/article.js" defer></script>
{{end}}
{{define "content"}}
<div class="min-h-screen px-28 bg-neutral-100 dark:bg-neutral-700">
    <div class="dark:bg-neutral-600 bg-white shadow-lg shadow-purple-600 dark:shadow-yellow-400 h-full">
        <section class="px-6 py-4 2xl:px-64 2xl:py-32">
            <img src="{{.Article.ImagePath}}" class="mb-6 w-full rounded-lg shadow-lg dark:shadow-black/20 object-cover"
                alt="image" style="max-height: 50vh;" />

            <div class="flex mb-4">
                <img src="{{.Author.AvatarPath}}" class="mr-2 h-8 w-8 rounded-full" alt="avatar" loading="lazy" />
                <div class="grid grid-cols-2 w-full text-neutral-600 dark:text-neutral-300 items-center">
                    <span class="justify-self-start"> Published <u>{{.Article.Created}}</u> by {{.Author.Name}}</span>
                    <span class="justify-self-end"> Updated On <u>{{.Article.Updated}}</u></span>
                </div>
            </div>
            <div class="mb-6 text-neutral-600 dark:text-neutral-300 text-sm">
                <i id="read-time"></i>
            </div>

            <div class="text-black dark:text-white">
                <h1 class="mb-8 text-3xl font-bold">
                    {{.Article.Title}}
                </h1>
                <div id="article">
                    {{.Article.Article}}
                </div>
            </div>
        </section>
    </div>
</div>
{{end}}