{{define "head"}}
<script src="/static/js/article.js" defer></script>
<link rel="stylesheet" href="/static/css/article.css">
{{end}}
{{define "content"}}
<div class="article-page">
    <div class="reader">
        <img class="article-img" src="{{.Article.ImagePath}}">
        <div class="metadata">
            <img src="{{.Author.AvatarPath}}" class="author-img">
            <small>
                Published <u>{{.Article.Created}}</u> by {{.Author.Name}}
            </small>
            <small class="updated-tag">
                Updated <u>{{.Article.Updated}}</u>
            </small>
        </div>
        <small>
            <i class="read-time" id="read-time"></i>
        </small>
        <h1 class="article-title">{{.Article.Title}}</h1>
        <div class="article" id="article">
            {{.Article.Article}}
        </div>
    </div>
</div>
{{end}}