{{define "base"}}
<!DOCTYPE html>
<html class="scroll-smooth text-2xl lg:text-base">

<head>
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/nav.js" defer></script>
    <script src="/static/js/foot.js" defer></script>
    <script src="/static/js/search.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    {{template "head"}}
</head>

<body>
    {{template "nav"}}
    {{template "content" .}}
    {{template "foot"}}
</body>

</html>
{{end}}