{{define "base"}}
<!DOCTYPE html>
<html class="scroll-smooth text-2xl lg:text-base">

<head>
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <link rel="stylesheet" href="/static/css/animation.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/nav.js" defer></script>
    <script src="/static/js/search.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
    {{template "head"}}
</head>

<body class="overflow-x-hidden">
    {{template "nav"}}
    {{template "content" .}}
    <!-- Husky -->
    <div class="walkway">
        <img class="dog" src="/static/img/husky_walk.gif">
    </div>
    {{template "foot"}}
</body>

</html>
{{end}}