{{define "head"}}
<link rel="stylesheet" href="/static/css/search.css">
<link rel="stylesheet" href="/static/css/card.css">
{{end}}
{{define "content"}}
<div class="search-page">
    <h2>
        Search:
    </h2>
    <div class="search-results">
        {{range .Articles}}
        <a class="article" href="{{.ArticlePath}}">
            <img class="article-img" src="{{.ImagePath}}">
            <div class="article-text">
                <h3>{{.Title}}</h3>
                <div class="section">
                    <img class="section-img" src="/static/img/{{.Section}}.png">
                    <p class="section-text">{{.Section}}</p>
                </div>
                <small>
                    Published <u>{{.Created}}</u> by {{.Author}}
                </small>
                <div class="description">
                    {{.Description}}
                </div>
            </div>
        </a>
        {{else}}
        <div class="no-articles">
            <p>Sorry, there doesn't seem to be any articles for that</p>
        </div>
        {{end}}
    </div>
</div>
{{end}}