.article-page {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.reader {
    padding: 2rem;
    width: 60vw;
    background-color: var(--primary);
    box-shadow: 0 4px 8px 0 var(--purple-shadow), 0 6px 20px 0 var(--purple-shadow);
    margin-bottom: 1rem;
}

.metadata {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--foreground-light);
}

.read-time {
    color: var(--foreground-light);
}

.author-img {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.updated-tag {
    margin-left: auto;
}

.article-title {
    font-size: 3rem;
    color: var(--tertiary);
}

.article-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.article {
    border-top: var(--primary-dark) 2px solid;
}

.article a {
    color: var(--tertiary);
    text-decoration: underline;
}

.article a:hover {
    color: var(--tertiary-hover);
}

.article h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--tertiary);
}

.article h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    color: var(--tertiary);
}

.article h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--tertiary);
}

.article h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--tertiary);
}

.article h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--tertiary);
}

.article h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--tertiary);
}

.article pre {
    background-color: var(--primary-dark);
    border-width: 2px;
    border-color: var(--primary-dark);
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    overflow-x: scroll;
}

.article code {
    background-color: var(--primary-dark);
    color: var(--tertiary);
    padding-left: .25rem;
    padding-right: .25rem;
}

.article blockquote {
    border-left: 10px solid var(--tertiary);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.article blockquote:before {
    color: var(--tertiary);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.article blockquote p {
    display: inline;
}