.background-program-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
}

.background-game-gradient {
    background-color: hsl(43, 100%, 15%);
    background-image: radial-gradient(650px circle at 0% 100%,
            hsl(43, 100%, 35%) 15%,
            hsl(43, 100%, 30%) 35%,
            hsl(43, 100%, 20%) 75%,
            hsl(43, 100%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 0%,
            hsl(43, 100%, 35%) 15%,
            hsl(43, 100%, 30%) 35%,
            hsl(43, 100%, 20%) 75%,
            hsl(43, 100%, 19%) 80%,
            transparent 100%);
}

.background-story-gradient {
    background-color: hsl(152, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
            hsl(152, 41%, 35%) 15%,
            hsl(152, 41%, 30%) 35%,
            hsl(152, 41%, 20%) 75%,
            hsl(152, 41%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(152, 41%, 35%) 15%,
            hsl(152, 41%, 30%) 35%,
            hsl(152, 41%, 20%) 75%,
            hsl(152, 41%, 19%) 80%,
            transparent 100%);
}

:root {
    --purple-5: rgb(13, 9, 22);
    --purple-4: rgb(62, 40, 88);
    --purple-3: rgb(124, 74, 150);
    --purple-2: rgb(180, 132, 189);
    --purple-1: rgb(221, 197, 221);
    --purple-shadow: rgba(124, 74, 150, 0.5);

    --white-3: rgb(179, 179, 179);
    --white-2: rgb(217, 217, 217);
    --white-1-5: rgb(247, 247, 247);
    --white-1: rgb(255, 255, 255);
    --white-shadow: rgb(255, 255, 255, 0.5);

    --black-3: rgb(0, 0, 0);
    --black-2-5: rgb(8, 8, 8);
    --black-2: rgb(38, 38, 38);
    --black-1: rgb(77, 77, 77);
    --black-shadow: rgb(0, 0, 0, 0.5);

    --foreground: var(--black-3);
    --foreground-light: var(--black-1);
    --foreground-hover: var(--purple-3);
    --primary: var(--white-1);
    --primary-dark: var(--white-2);
    --secondary: var(--white-1-5);
    --tertiary: var(--purple-3);
    --tertiary-hover: var(--purple-2);
}