@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --hue: 300;

    --link_light: oklch(53.492% 0.29346 var(--hue));
    --link_light_hover: oklch(63.221% 0.24514 var(--hue));
    --link_dark: oklch(86.52% 0.17676 var(--hue));
    --link_dark_hover: oklch(62.66% 0.12805 var(--hue));
}

.ribbon {
    --f: .5em;
    /* control the folded part*/
    --r: .8em;
    /* control the ribbon shape */

    position: absolute;
    top: 20px;
    right: calc(-1*var(--f));
    padding-inline: .25em;
    line-height: 1.8;
    border-bottom: var(--f) solid #0005;
    border-left: var(--r) solid #0000;
    clip-path:
        polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
            var(--r) calc(50% - var(--f)/2));
}