.ribbon {
    --f: .5em;
    /* control the folded part*/
    --r: .8em;
    /* control the ribbon shape */

    position: absolute;
    top: 20px;
    right: calc(-1*var(--f));
    padding-inline: .25em;
    line-height: 1.8;
    border-bottom: var(--f) solid #0005;
    border-left: var(--r) solid #0000;
    clip-path:
        polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
            var(--r) calc(50% - var(--f)/2));
}

@font-face {
    font-family: "Jersey-15";
    src: url("/static/fonts/Jersey-15.ttf") format("truetype");
}

body {
    font-size: 1.5rem;
    margin: 0;
    font-family: "Jersey-15";
}

a {
    text-decoration: none;
    color: var(--black-1);
}

a:hover {
    color: var(--black-3);
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    width: 100vw
}

.search-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-search-input {
    height: 1.5rem;
}

.clickable {
    cursor: pointer;
}

.nav-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
}