@font-face {
    font-family: "Jersey-15";
    src: url("/static/fonts/Jersey-15.ttf") format("truetype");
}

a {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    color: var(--foreground);
}

.main-title {
    padding: 0;
    margin: 0;
    font-size: 4rem;
    color: var(--tertiary);
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: var(--tertiary);
}

h5 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: var(--foreground);
}

code {
    font-family: "Jersey-15";
    font-size: 1.2rem;
}

nav {
    padding: .5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    background-color: var(--primary);
}

.search-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-search {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-search-input {
    height: 2rem;
    width: 20rem;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}

.clickable {
    cursor: pointer;
}

.nav-button {
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-button:hover {
    color: var(--foreground-hover);
}

footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary);
}

.footer-icon {
    width: 1.5rem;
    text-decoration: none;
}

.footer-icon:hover {
    color: var(--foreground-hover);
}

.footer-container {
    margin-top: auto;
}

.content-container {
    min-height: 80vh;
    background-color: var(--secondary);
}

.divider {
    height: .2rem;
    width: 100%;
    background: radial-gradient(circle, var(--tertiary) 0%, var(--secondary) 100%);
    ;
}